/* src/Component/Company.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .header {
    background-color: #0e0d0d;
    padding: 10%;
    /* height: 50%; */
    text-align: center;
    border-bottom: 2px solid #ddd;
  }
  
  .header h1 {
    margin: 0;
    font-size: 2.5rem;
    color:white;
  }
  
  .header p {
    margin: 10px 0 0;
    font-size: 1.2rem;
    color:white;
  }
  
  .section {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
  }
  
  .section img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .script {
    flex: 1;
    min-width: 300px;
    margin: 10px;
    /* text-align: start; */
  }
  
  .script p {
    font-size: 1.2rem;
    color: #333;
    margin: 10px 0;
    line-height: 1.9;
  }
   /* hr {
    width: 10%;
    /* text-align: center; */
    /* padding-right: 2%;
    border: 0;
    height: 2px;
    background: #ddd;
    margin: 20px 0;
}  */ */
  .section2 h1 {
    width: 100%;
    padding: 15px;
    text-align: center;
    font-size: 2rem;
    color: #333;

    margin-bottom: 20px;
  }
  
  .section2 p {
    padding: 5px;
    /* text-align: center; */
    font-size: 1rem;
    color: #555;
    margin-bottom: 10px;
    text-align:center ;
  }
  .section2{
    padding: 15px;
    text-align: center;
  }
  
  @media (max-width: 768px) {
    .section {
      flex-direction: column;
      align-items: center;
    }
  
    .section div {
      margin-bottom: 20px;
    }
  
    .section h1, .section p {
      text-align: center;
    }
  }
  